@{
    ViewData["Title"] = "About Us";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/theme.css" />
</head>
<body>

    <div class="aboutus-section">
        <h1>About Us</h1>
    </div>
    <div class="details">
        <p>
            BikeX, based in the United States of America, was founded in 2021 to introduce the experience of light electric vehicles to the North American commonality.
            Despite being a relatively new face in the industry, BikeX has had a powerful start and is on it’s way to carving a path straight to the very peak of the metaphorical electric marketing mountain.
            Put simply, this company is all about electricity and its shared future with transportation, and putting this transportation into the hands of the populous and proving its value in both fun
            and efficiency is one of BikeX’s main goals. <br>
            <br>



            This bold objective isn’t just happenstance, but rather a shocking idea sparked from a bond forged between four students who met at the University of North Florida. Over their time at the university,
            the four developed the idea of BikeX, coming up with an assortment of different drafts and trials before finally settling on the website and its ideals. <br>
            <br>



            Together, the four hope to prove the effectiveness and efficiency of electric vehicles, along with ensuring that they can deliver the means to experience this mode of travel to any that seek it. <br>
        </p>

    </div>

    <div>
        <img class="img-fluid"
             src="~/images/about-us-bike.jpg"
             alt="woman riding an electric bicycle"
             style="width:850px;height:750px;border: 5px solid #000000;">
    </div>

    <div class="aboutus-section">
        <h1>Mission Statement</h1>
    </div>
    <div class="details">
        <p>
            Our mission as a company is to ensure that electric vehicles grow to be valued by the populous. We strive to help people see the efficiency and effectiveness of electric travel,
            and we accomplish this be selling and promoting our products to the far reaches. We hope to one day see electric travel as a dominant form of transportation, perhaps seeing
            a decline in more pollutive methods of travel.
        </p>
    </div>

    <h1>Our Executives</h1>

    <h3 style="text-align:center"></h3>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h3>Jon Shih</h3>
                    <p class="title">Founder</p>
                    <p>n01447401@unf.edu</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h3>Kelvin Vargas</h3>
                    <p class="title">Founder</p>
                    <p>n01487995@unf.edu</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h3>Kaenan Griffiths</h3>
                    <p class="title">Founder</p>
                    <p>n01445671@unf.edu</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h3>Nick Anderson</h3>
                    <p class="title">Founder</p>
                    <p>n01439343@unf.edu</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
