@{
    ViewData["Title"] = "FAQ";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/theme.css" />
</head>
<body>

    <h1 class="faq-heading">Frequently Asked Questions</h1>
    <section class="faq-container">
        <div class="faq-one">
            <!-- faq question -->
            <h2 class="faq-page">What is BikeX?</h2>
            <!-- faq answer -->
            <div class="faq-body">
                <p>
                    BikeX is a North America based company specializing in electric modes of transportation, personal vehicles such as
                    bikes, scooters, and hoverboards. We exist mostly on the web, allowing us to keep contact with a multitude of customers in various
                    areas and speaces. We offer a uniqe selection of electric vehicles, varieties that cannot be found anywhere else, and
                    our goal as a company is to show the world the value of utilizing transportation means powered by electricity.
                </p>
            </div>
        </div>
        <hr class="hr-line">
        <div class="faq-two">
            <!-- faq question -->
            <h2 class="faq-page">My attempt to recover my account has been unsuccessful</h2>
            <!-- faq answer -->
            <div class="faq-body">
                <p>
                    If this happens, the customer should immediately contact customer service and specify the issue they are facing.
                    This information should include a reason why the account recovery isn't working, such as whether or not the customer
                    has forgotten both their username and password, or if there is an unforseen cause for their recovery not working. From
                    there, BikeX's support team will respond in a reasonable amount of business days with further instructions and possible
                    solutions to amend the issue. The customer will be required to verify their identity and ownership of the account. Any
                    potential means of proof will be specified in the customer service response.
                </p>
            </div>
        </div>
        <hr class="hr-line">
        <div class="faq-three">
            <!-- faq question -->
            <h2 class="faq-page">A product I ordered was damaged during shipping. What do I do?</h2>
            <!-- faq answer -->
            <div class="faq-body">
                <p>
                    If a project was damaged during shipping, it is recommended that the customer contact customer service as soon as possible.
                    In order to ensure that the product was damaged during and not after shipping, the customer should not attempt to fix the product
                    by themselves. Instead, the customer should repackage the damaged product so BikeX can retrieve it and compensate the customer with
                    either a refund or a replacement.
                </p>
            </div>
        </div>
        <hr class="hr-line">
        <div class="faq-four">
            <!-- faq question -->
            <h2 class="faq-page">Is a driver's license required to drive BikeX's vehicles?</h2>
            <!-- faq answer -->
            <div class="faq-body">
                <p>
                    In the United States, BikeX's bikes are road legal and their use does not require a driver's license. In essense, electric bikes
                    wield the same legality of traditional bicycle. Keep in mind, it is recommended that customers check with their own local government to
                    make sure this applies.
                </p>
            </div>
        </div>
        <hr class="hr-line">
        <div class="faq-five">
            <!-- faq question -->
            <h2 class="faq-page">Are BikeX's vehicles safe to ride and purchase?</h2>
            <!-- faq answer -->
            <div class="faq-body">
                <p>
                    BikeX's vehicles have all gone through a multitude of testing pertaining to safety. Each has proven to be nearly as safe as their traditional counterparts.
                    In some cases, they have even proven to be safer.
                </p>
            </div>
        </div>
        <hr class="hr-line">
        <div class="faq-six">
            <!-- faq question -->
            <h2 class="faq-page">How will I be notified of sales?</h2>
            <!-- faq answer -->
            <div class="faq-body">
                <p>
                    If the customer has chosen to recieve notifications of recent developments and sales, this information will be received through email or text.
                    If they have opted not to recieve these notifications, information concerning sales will be present on the website itself, clearly
                    highlighted for any to see.
                </p>
            </div>
        </div>
        <hr class="hr-line">
        <div class="faq-seven">
            <!-- faq question -->
            <h2 class="faq-page">What methods of payment may I use to order products?</h2>
            <!-- faq answer -->
            <div class="faq-body">
                <p>
                    Customers will be able to add several methods of payment, such as credit cards, E-Wallets, and mobile payments
                    through several different applications. These applications include paypal, venmo, and similar forms.
                </p>
            </div>
        </div>
        <hr class="hr-line">
        <div class="faq-eight">
            <!-- faq question -->
            <h2 class="faq-page">Can I cancel or change an order?</h2>
            <!-- faq answer -->
            <div class="faq-body">
                <p>
                    Orders may be canceled or editted, but this process must be done before the product has been shipped. Customers will be able
                    to track their product, making this process easier and less risky.
                </p>
            </div>
        </div>
        <hr class="hr-line">
        <div class="faq-nine">
            <!-- faq question -->
            <h2 class="faq-page">How long do BikeX batteries last?</h2>
            <!-- faq answer -->
            <div class="faq-body">
                <p>
                    BikeX's batteries have a lifespan of several years if properly taken care of. Their charge can
                    sustain BikeX's vehicles for a distance of 40 miles per charge. Products will also arrive with a
                    charger, meaning the customer will not have to spend additional funds on securing one.
                </p>
            </div>
        </div>
        <hr class="hr-line">
        <div class="faq-ten">
            <!-- faq question -->
            <h2 class="faq-page">I would like to give feedback or suggestions that could potentially improve the website.</h2>
            <!-- faq answer -->
            <div class="faq-body">
                <p>
                    Feedback and suggestions are both appreciated, and each can be submitted through both email and text.
                    These should be sent directly to customer service, which will then be delivered to BikeX's executives.
                    Customers should keep in mind that directly contacting the executives is not recommended.
                </p>
            </div>
        </div>
    </section>

</body>

</html>
