@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/theme.css" />
</head>
<body>

    <h1>Privacy Policy</h1>

    <p>
        Here at BikeX we value your privacy. Therefore to ensure that we may better serve you, while also
        maintaining your privacy, We only collect and hold on to your information as long as necessary to
        provide our services to you, the customer. The information that we collect from you may include the following:
    </p>

    <ul>Names</ul>
    <ul>Addresses</ul>
    <ul>Purchases</ul>
    <ul>Payment Information</ul>

    <p>
        This information is used primarily to facilitate selling and shipping your purchased goods to you. We WILL NEVER SELL
        YOUR INFORMATION TO ANY THIRD PARTY ENTITY. Furthermore your information stays private with us. If you, the customer, ever
        wishes to delete any of your personal data from our website, simply email bikexsupport@gmail.com and we will provide
        you services to facilitate this task.
    </p>

</body>

</html>
