@{
    ViewData["Title"] = "Bikes";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/theme.css" />
</head>
<body>

    <h1>Shop</h1>

</body>

</html>
