h1 {
    font-family: Leelawadee;
    font-size: 80px;
    color: #00ff90;
}

h2 {
    font-family: Leelawadee;
    font-size: 50px;
    color: #000;
}

h3 {
    font-family: Leelawadee;
    font-size: 30px;
    color: #000;
}
